__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.pkl
*.swp
*.sqlite3

venv/
.venv/
env/
ENV/

*.pyc

*.log
logs/
*.db

*.dockerfile.swp
docker-volume/
docker-data/
.env
.env.local
.env.*.local
*.tif
*.tiff
*.tfw
data/
!data/.gitkeep

.coverage
coverage.xml
htmlcov/
sonar-project.properties.backup

.pytest_cache/
.cache/
.ipynb_checkpoints/

build/
dist/
*.egg-info
.eggs/
.vscode/

.idea/

.mypy_cache/
ruff_cache/
pyrightconfig.json
